{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Expires Widget plugin for Craft CMS
 *
 * ExpiresWidgetWidget Widget Body
 *
 * @author    Johannes Arnstad
 * @copyright Copyright (c) 2020 Johannes Arnstad
 * @link      https://solvr.no
 * @package   ExpiresWidget
 * @since     0.1.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@solvras/expireswidget/assetbundles/expireswidgetwidgetwidget/dist', true) ~ '/img/ExpiresWidgetWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
